<%= form_with(model: post, local: true) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: :post_title %>
  </div>

  <div class="field">
    <%= form.label :'Would you like to post this Annoymously?' %>
    <%= form.check_box :author, {}, 'annoymous', current_user.login %>
  </div>

  <div class="field">
    <%= form.label :subject %>
    <%= form.text_area :subject, id: :post_subject %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
