<p id="notice"><%= notice %></p>

<h1>Posts</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Author</th>
      <th>Subject</th>

      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <% if post.comment_id == nil %>
      <tr>
          <td><%= link_to post.title, post%></td>
          <td><%= post.author %></td>
          <td><%= post.subject %></td>

          <% if is_admin? || post.author == current_user.login %>
            <td><%= link_to 'Edit', edit_post_path(post) %></td>
            <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <% end %>
        </tr>
        <% end %>
     <% end %>
     </tbody>
     </table>
<br>

<%= link_to 'Create Thread', new_post_path %>
